extends layout

block content
    h2= title
    div#totals
        div
            strong= "Views total"
            = ": "
            span#totalviews= "..."
        div
            strong= "Follow total"
            = ": "
            span#totalfollows= "..."
        div
            strong= "Partners"
            = ": "
            span#totalpartners= "..."
    p#status
    div.dtbar.dttop
    table#dt
    div.dtbar.dtbot
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js")
    script(src=((process.env.BASEPATH || "") + "/lookup-3.js"))
